Flask==3.0.3
flask_limiter
flask_wtf
requests>=2.31.0
gunicorn==22.0.0

transformers
sentence-transformers==2.7.0
torch
torchvision
torchaudio
accelerate
tqdm>=4.66.0
numpy>=1.24.0

celery
redis

sqlalchemy>=2.0.0

python-dotenv>=1.0.0

yadisk